body {
  background-color: rgb(251, 251, 221);
  text-align: center;
}
li {
  margin: 10px;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
}
li i {
  position: absolute;
  right: 40%;
  cursor: pointer;
  margin-left: 10px;
  color: red;
}
.list-result {
  padding: 50px;
}

li i:hover {
  color: rgb(189, 2, 2);
}
.empty-error {
  font-size: 30px;
  margin: 50px;
  color: rgb(250, 67, 67);
}
header a {
  text-align: center;
  text-decoration: none;
  color: rgb(41, 41, 41);
}
@media (max-width: 767px) {
  li i {
    position: absolute;
    right: 35%;
  }
}
@media (max-width: 500px) {
  li i {
    position: absolute;
    right: 25%;
  }
}
