body {
  background-color: rgb(251, 251, 221);
  text-align: center;
}
li {
  margin: 10px;
  list-style: none;
  font-size: 20px;
}
li i {
  position: relative;
  float: right;
  right: 45%;
  cursor: pointer;
  margin-left: 10px;
  color: red;
}
.list-result {
  padding: 50px;
}

li i:hover {
  color: rgb(189, 2, 2);
}
.empty-error {
  font-size: 30px;
  margin: 50px;
  color: rgb(250, 67, 67);
}
header a {
  text-align: center;
  text-decoration: none;
  color: rgb(41, 41, 41);
}
